footer.footer
    .footer__container
        .footer__top.top-footer
            .top-footer__item.top-footer__item_logo
                a(href="#").top-footer__logo 
                    img(src="@img/header/logo.png", alt="logo")
            .top-footer__item.top-footer__item_class
                .top-footer__title Классы
                ul.top-footer__list 
                    li.top-footer__menu-item 
                        a(href="#").top-footer__link 1-4 класс 
                    li.top-footer__menu-item
                        a(href="#").top-footer__link 5-8 класс  
                    li.top-footer__menu-item
                        a(href="#").top-footer__link 9-11 класс 
            .top-footer__item.top-footer__item_document
                .top-footer__title Документы
                ul.top-footer__list 
                    li.top-footer__menu-item 
                        a(href="#").top-footer__link 
                            span Лицензия 
            .top-footer__item.top-footer__item_social
                .top-footer__title Соцсети
                ul.top-footer__list 
                    li.top-footer__menu-item.top-footer__menu-item_social 
                        a(href="#").top-footer__link.top-footer__link_telegram  
                    li.top-footer__menu-item.top-footer__menu-item_social
                        a(href="#").top-footer__link.top-footer__link_youtube   
                    li.top-footer__menu-item.top-footer__menu-item_social
                        a(href="#").top-footer__link.top-footer__link_vk  
            .top-footer__item.top-footer__item_address
                a(href="#").top-footer__address 
                    span г. Дмитров 
                        span ул Московская, дом 23 
                a(href="tel:+78003003791").top-footer__phone
                    span 8 (800) 300-37-91
        .footer__bottom 
            a(href="#").footer__policy 
                span Соглашение о конфиденциальности ООО «Школа Будущего Онлайн» Российская Федерация, 141804, Московская обл.,г. Дмитров, ул Московская, дом 23 Возрастной рейтинг 6+ 