// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.faq__spollers.spollers {
	display: flex;
	flex-direction: column;
	@include adaptiveValue("gap", 30, 15);
}
// Спойлер
.faq__item.spollers__item {
	background: #EFF2FD;
	border-radius: 25px;
	overflow: hidden;
	filter: drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.25));
	position: relative;
}
// Заголовок спойлера
.faq__title.spollers__title {
	@include adaptiveValue("font-size", 20, 18);
	@include adaptiveValue("padding-right", 150, 40);
	@include adaptiveValue("padding-left", 60, 30);
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	line-height: 100%;
	font-family: "ALSSchlangesans";
	width: 100%;
	cursor: default;
	text-align: left;
	@include adaptiveValue("height", 120, 76);
	position: relative;
	._spoller-init & {
		cursor: pointer;
		&::after {
			content: "";
			position: absolute;
			@include adaptiveValue("right", 50, 10);
			top: 50%;
			transform: translateY(-50%);
			@include adaptiveValue("width", 50, 20);
			@include adaptiveValue("height", 50, 20);
			background: url('@img/faq/plus.png') center / 60% no-repeat, linear-gradient(26.5deg, #4271DF 16.72%, #789CF1 95.45%);
			transition: all 0.5s ease 0s;
			border-radius: 50%;
		}
		&._spoller-active {
			&::after {
				transform: translateY(-50%) rotate(45deg);
			}
			& + .faq__body.spollers__body::before {
				left: 0;
			}
		}
	}
}
// Контент спойлера
.faq__body.spollers__body {
	@include adaptiveValue("font-size", 14, 12);
	@include adaptiveValue("padding-right", 150, 40);
	line-height: 130%;
	padding-top: 0;
	@include adaptiveValue("padding-bottom", 50, 20);
	@include adaptiveValue("padding-left", 60, 30);
	&::before {
		content: "";
		position: absolute;
		height: 100%;
		background: $mainColor;
		@include adaptiveValue("width", 30, 15);
		bottom: 0;
		left: -100%;
	}
}
