@font-face {
	font-family: ALSSchlangesans;
	font-display: swap;
	src: url("../fonts/ALSSchlangesans.woff2") format("woff2"), url("../fonts/ALSSchlangesans.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro-Bold.woff2") format("woff2"), url("../fonts/gothampro-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro-Medium.woff2") format("woff2"), url("../fonts/gothampro-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: helvetica;
	font-display: swap;
	src: url("../fonts/helvetica.woff2") format("woff2"), url("../fonts/helvetica.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: gothampro;
	font-display: swap;
	src: url("../fonts/gothampro.woff2") format("woff2"), url("../fonts/gothampro.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
