- var title = 'School'

doctype html
html(lang="en")
	include html/_head
	body 
		.wrapper 
			include html/_header 
			main.page 
				section.page__main.main 
					.main__container 
						.main__content
							h1.main__title Настоящая школа 
								span у вас дома!
							.main__body 
								p Мы даем детям реальные знания, потому наши классы не превышают 10 человек. А интерактивность и вовлеченность делает уроки интересными для детей.
								p.main__important Семейное образование с нами - это эффективно!
								a(href="#").main__button.button 
									span Записаться на урок
								.main__social.social 
									.social__text или написать: 
									ul.social__list 
										li.social__item 
											a(href="#").social__link.social__link_telegram
										li.social__item 
											a(href="#").social__link.social__link_whatsapp 
						.main__image.image-main 
							.image-main__item.image-main__item_background
								img(src="@img/main/main-background.png", alt="background")
							.image-main__item.image-main__item_table
								img(src="@img/main/main-table.png", alt="table")
							.image-main__item.image-main__item_computer
								img(src="@img/main/main-computer.png", alt="computer")
							.image-main__item.image-main__item_tv
								img(src="@img/main/main-tv.png", alt="tv")
							.image-main__item.image-main__item_paper
								img(src="@img/main/main-paper.png", alt="paper")
							.image-main__item.image-main__item_mobile1
								img(src="@img/main/main-mobile1.png", alt="mobile1")
							.image-main__item.image-main__item_mobile2
								img(src="@img/main/main-mobile2.png", alt="mobile2")
				section.page__whom.whom 
					.whom__container 
						.whom__title.title Кому подходит онлайн образование?
						.whom__content 
							.whom__item 
								.whom__image 
									img(src="@img/whom/icon1.png", alt="icon1")
								.whom__text Для тех, кто хочет получать знания
							.whom__item 
								.whom__image 
									img(src="@img/whom/icon2.png", alt="icon2")
								.whom__text Для путешественников
							.whom__item 
								.whom__image 
									img(src="@img/whom/icon3.png", alt="icon3")
								.whom__text Для семейного обучения
							.whom__item 
								.whom__image 
									img(src="@img/whom/icon4.png", alt="icon4")
								.whom__text Для спортсменов
							.whom__item 
								.whom__image 
									img(src="@img/whom/icon5.png", alt="icon5")
								.whom__text Для проживающих за рубежом
						.whom__price.price-whom
							.price-whom__image 
								img(src="@img/whom/girl.png", alt="girl")
							.price-whom__action.action 
								.action__title Первый месяц обучения от 5&nbsp;250 руб
								.action__text Не знаете подойдет ли вашему ребенку обучение онлайн? Попробуйте первый месяц со скидкой 50%!
							.price-whom__order
								a(href="#").price-whom__button.main__button.button 
									span Записаться на урок
								.price-whom__social.main__social.social 
									.social__text или написать: 
									ul.social__list 
										li.social__item 
											a(href="#").social__link.social__link_telegram
										li.social__item 
											a(href="#").social__link.social__link_whatsapp 
				section.page__how.how 
					.how__container 
						.how__title.title Как проходят уроки в нашей онлайн школе?
						.how__body 
							.how__item 
								.how__image 
									img(src="@img/how/icon2.png", alt="how icon 2")
								.how__content 
									.how__label Живые уроки с учителем
									.how__text Увлекательные уроки с учителем, на которых каждому ребенку будет уделено внимание
							.how__item.how__item_even
								.how__image 
									img(src="@img/how/icon3.png", alt="how icon 3")
								.how__content 
									.how__label Дополнительные материалы
									.how__text Материалы по каждой теме без лишней воды помогут закрепить знания
							.how__item 
								.how__image 
									img(src="@img/how/icon4.png", alt="how icon 4")
								.how__content 
									.how__label Домашнее задание
									.how__text Для закрепления всего ранее полученного материала дети получают домашнее задание
							.how__item.how__item_even
								.how__image 
									img(src="@img/how/icon1.png", alt="how icon 1")
								.how__content 
									.how__label Проверка и оценка
									.how__text Все домашние задания проверяются учителем и выставляется оценка в дневник
				section.page__why.why 
					.why__container 
						.why__title.title Дети любят наши уроки потому что:
						.why__body.tabs-why
							.why__content
								nav.tabs-why__navigation.spollers(data-spollers, data-one-spoller)
									.tabs-images
									.spollers__item.tabs-title
										.tabs-why__title.spollers__title._spoller-active(data-spoller) 
											.tabs-title__label Продвинутая геймификация 
											.tabs-title__text Мы используем мини-игры чтобы увлечь ребенка в процесс решения задач и помочь усвоить материал в интересной форме
										.tabs-why__body.tabs-body.spollers__body 
											.tabs-body__images 
												.tabs-body__image.tabs-body__image_background 
													img(src="@img/why/tab1/why-background.png", alt="why-background") 
												.tabs-body__image.tabs-body__image_tablet 
													img(src="@img/why/tab1/why-tablet.png", alt="why-tablet") 
												.tabs-body__image.tabs-body__image_calculator 
													img(src="@img/why/tab1/why-calculator.png", alt="why-calculator") 
												.tabs-body__image.tabs-body__image_calendar 
													img(src="@img/why/tab1/why-calendar.png", alt="why-calendar") 
												.tabs-body__image.tabs-body__image_note 
													img(src="@img/why/tab1/why-note.png", alt="why-note") 
												.tabs-body__image.tabs-body__image_pencil 
													img(src="@img/why/tab1/why-pencil.png", alt="why-pencil") 
												.tabs-body__image.tabs-body__image_ruler 
													img(src="@img/why/tab1/why-ruler.png", alt="why-ruler") 
									.spollers__item.tabs-title
										.tabs-why__title.spollers__title(data-spoller) 
											.tabs-title__label Не зубрят и не переписывают учебники
											.tabs-title__text Дети вовлечены в урок по средствам взаимодействия между собой и педагогом. Играют в тематические квизы. Смотрят видео и разбирают материал.
										.tabs-why__body.tabs-body.spollers__body 
											.tabs-body__images 
												.tabs-body__image.tabs-body__image_background2 
													img(src="@img/why/tab1/why-background.png", alt="why-backgound2") 
												.tabs-body__image.tabs-body__image_atom 
													img(src="@img/why/tab2/why-atom.png", alt="why-atom")
												.tabs-body__image.tabs-body__image_flask 
													img(src="@img/why/tab2/why-flask.png", alt="why-flask")
												.tabs-body__image.tabs-body__image_kid1 
													img(src="@img/why/tab2/why-kid1.png", alt="why-kid1")
												.tabs-body__image.tabs-body__image_kid2 
													img(src="@img/why/tab2/why-kid2.png", alt="why-kid2")
												.tabs-body__image.tabs-body__image_kid3 
													img(src="@img/why/tab2/why-kid3.png", alt="why-kid3")
												.tabs-body__image.tabs-body__image_kid4 
													img(src="@img/why/tab2/why-kid4.png", alt="why-kid4")
												.tabs-body__image.tabs-body__image_kid5 
													img(src="@img/why/tab2/why-kid5.png", alt="why-kid5")
												.tabs-body__image.tabs-body__image_kid6 
													img(src="@img/why/tab2/why-kid6.png", alt="why-kid6")
												.tabs-body__image.tabs-body__image_lamp 
													img(src="@img/why/tab2/why-lamp.png", alt="why-lamp")
									.spollers__item.tabs-title
										.tabs-why__title.spollers__title(data-spoller) 
											.tabs-title__label Никакого стресса
											.tabs-title__text В учебных классах поддерживается атмосфера дружбы и уважения. Никакого давления. Дети чувствуют себя комфортно
										.tabs-why__body.tabs-body.spollers__body 
											.tabs-body__images 
												.tabs-body__image.tabs-body__image_background3 
													img(src="@img/why/tab3/why-background.png", alt="why-backgound3") 
												.tabs-body__image.tabs-body__image_kid8-1 
													img(src="@img/why/tab3/why-kid8.png", alt="why-kid8_1")
												.tabs-body__image.tabs-body__image_kid7-1 
													img(src="@img/why/tab3/why-kid7.png", alt="why-kid7_1")
												.tabs-body__image.tabs-body__image_kid1-1 
													img(src="@img/why/tab3/why-kid1.png", alt="why-kid1_1")
												.tabs-body__image.tabs-body__image_kid2-1 
													img(src="@img/why/tab3/why-kid2.png", alt="why-kid2_1")
												.tabs-body__image.tabs-body__image_kid3-1 
													img(src="@img/why/tab3/why-kid3.png", alt="why-kid3_1")
												.tabs-body__image.tabs-body__image_kid4-1 
													img(src="@img/why/tab3/why-kid4.png", alt="why-kid4_1")
												.tabs-body__image.tabs-body__image_kid5-1 
													img(src="@img/why/tab3/why-kid5.png", alt="why-kid5_1")
												.tabs-body__image.tabs-body__image_kid6-1 
													img(src="@img/why/tab3/why-kid6.png", alt="why-kid6_1")
								.why__order 
									a(href="#").why__button.main__button.button 
										span Записаться на урок
									.why__social.main__social.social 
										.social__text или написать: 
										ul.social__list 
											li.social__item 
												a(href="#").social__link.social__link_telegram
											li.social__item 
												a(href="#").social__link.social__link_whatsapp
							.why__image-block 
				section.page__compare.compare 
					.compare__container 
						.compare__title.title Глянем сравнение:
						.compare__body 
							.compare__image.compare__image_left 
								img(src="@img/compare/01.png", alt="compare boy 1")
							.compare__text.text-compare.compare__text_left 
								.text-compare__title Обычная школа
								ul.text-compare__list 
									li.text-compare__item Число детей в классе
										span от 25
									li.text-compare__item Количество уроков
										span 5-6 в день
									li.text-compare__item Дополнительные занятия
										span обязательно
									li.text-compare__item Индивидуальный подход
										span нет
									li.text-compare__item Гибкий график занятий
										span нет
									li.text-compare__item Собрать ребенка в школу
										span от 30 тыс. рублей
							.compare__text.text-compare.compare__text_right
								.text-compare__title Онлайн школа
								ul.text-compare__list 
									li.text-compare__item Число детей в классе
										span до 12
									li.text-compare__item Количество уроков
										span 2-3 в день
									li.text-compare__item Дополнительные занятия
										span по желанию
									li.text-compare__item Индивидуальный подход
										span да
									li.text-compare__item Гибкий график занятий
										span да
									li.text-compare__item Собрать ребенка в школу
										span 0 рублей
							.compare__image.compare__image_right
								img(src="@img/compare/02.png", alt="compare boy 2")
				section.page__what.what 
					.what__container 
						.what__title.title Онлайн школа среднего образования это -
						.what__body 
							.what__item 
								.what__image 
									img(src="@img/what/01.png", alt="what 1")
								.what__label Удобный график занятий
								.what__text Вы можете выбрать удобное время начала занятий (9:00, 11:00 или 13:00)
							.what__item 
								.what__image 
									img(src="@img/what/02.png", alt="what 2")
								.what__label Записи уроков доступны всегда
								.what__text Пропустил урок - не страшно! Записи уроков можно посмотреть в любое время
							.what__item 
								.what__image 
									img(src="@img/what/03.png", alt="what 3")
								.what__label Сбалансированная нагрузка
								.what__text Никаких лишних и не нужных занятий. Только важное и необходимое
							.what__item 
								.what__image 
									img(src="@img/what/04.png", alt="what 4")
								.what__label Не нужно покупать школьную форму и канцелярию
								.what__text Тетрадка, ручка, линейка и карандаш - это все, что нужно для учебы в онлайн школе!
							.what__item 
								.what__image 
									img(src="@img/what/05.png", alt="what 5")
								.what__label Высококлассные педагоги
								.what__text Опытные учителя прошедшие строгий отбор и использующие современные методы обучения
							.what__item 
								.what__image 
									img(src="@img/what/06.png", alt="what 6")
								.what__label Никакого стресса
								.what__text В учебных классах поддерживается атмосфера дружбы и уважения. Никакого давления. Дети чувствуют себя комфортно
						.whom__price.price-whom
							.price-whom__image 
								img(src="@img/what/boy.png", alt="what boy")
							.price-whom__action.action 
								.action__title Первый месяц обучения от 5&nbsp;250 руб
								.action__text Не знаете подойдет ли вашему ребенку обучение онлайн? Попробуйте первый месяц со скидкой 50%!
							.price-whom__order
								a(href="#").price-whom__button.main__button.button 
									span Записаться на урок
								.price-whom__social.main__social.social 
									.social__text или написать: 
									ul.social__list 
										li.social__item 
											a(href="#").social__link.social__link_telegram
										li.social__item 
											a(href="#").social__link.social__link_whatsapp 
				section.page__cost.cost 
					.cost__container 
						.cost__title.title Сколько стоит обучение в онлайн школе?
						.cost__body 
							.cost__item.cost-item
								.cost-item__price.item-price 
									.item-price__main.button
										span 10 500 ₽
									.item-price__action 
										span НАЧАЛО ЗАНЯТИЙ 
										span 1 СЕНТЯБРЯ!
								.cost-item__content.item-content
									.item-content__label 1-4 класс
									.item-content__description Веселые и увлекательные уроки
									ul.item-content__list 
										li.item-content__item 
											span 2-3 урока в день пн-чт
										li.item-content__item 
											span 10-12 учеников в классе
										li.item-content__item 
											span внимание к каждому ребенку
										li.item-content__item 
											span интерактивные тренажеры
										li.item-content__item 
											span игровая форма обучения
										li.item-content__item 
											span зачисление в школу партнер 12 000/год
									button.item-content__button 
										span Подробнее
								.cost-item__image 
									img(src="@img/cost/01.png", alt="cost 1")
							.cost__item.cost-item.cost__item_action
								.cost-item__price.item-price 
									.item-price__main.button
										span 12 500 ₽
									.item-price__action 
										span НАЧАЛО ЗАНЯТИЙ 
										span 1 СЕНТЯБРЯ!
								.cost-item__content.item-content
									.item-content__label 5-8 класс
									.item-content__description Помогаем не потерять интерес
									ul.item-content__list 
										li.item-content__item 
											span 3-5 уроков в день пн-пт
										li.item-content__item 
											span 12-15 учеников в классе
										li.item-content__item 
											span внимание к каждому ребенку
										li.item-content__item 
											span интерактивные тренажеры
										li.item-content__item 
											span усиленная подготовка к ОГЭ
										li.item-content__item 
											span зачисление в школу партнер 12 000/год
									button.item-content__button 
										span Подробнее
								.cost-item__image 
									img(src="@img/cost/02.png", alt="cost 2")
							.cost__item.cost-item.cost__item_action
								.cost-item__price.item-price 
									.item-price__main.button
										span 16 500 ₽
									.item-price__action 
										span НАЧАЛО ЗАНЯТИЙ 
										span 1 СЕНТЯБРЯ!
								.cost-item__content.item-content
									.item-content__label 9-11 класс
									.item-content__description Самый важный этап в жизни
									ul.item-content__list 
										li.item-content__item 
											span 4-5 уроков в день пн-пт
										li.item-content__item 
											span 12-15 учеников в классе
										li.item-content__item 
											span внимание к каждому ребенку
										li.item-content__item 
											span интерактивные тренажеры
										li.item-content__item 
											span усиленная подготовка к ОГЭ и ЕГЭ
										li.item-content__item 
											span зачисление в школу партнер 12 000/год
									button.item-content__button 
										span Подробнее
								.cost-item__image 
									img(src="@img/cost/03.png", alt="cost 3")
				section.page__document.document 
					.document__container 
						.document__content 
							.document__title.title Аттестат государственного образца
							.document__text Вы получите аттестат государственного образца. Он ничем не отличается от аттестата которые выдают в обычных школах.С аттестатом вы сможете продолжить обучение в лучших вузах страны. 
						.document__image 
							img(src="@img/document/01.png", alt="document 1")
				section.page__reviews.reviews 
					.reviews__container 
						.reviews__title.title Отзывы родителей о "Школе Будущего Online"
						.reviews__slider.swiper 
							.reviews__wrapper.swiper-wrapper 
								.reviews__slide.swiper-slide.slide-item 
									.slide-item__info 
										.slide-item__source 
											img(src="@img/footer/vk.png", alt="review vk")
										.slide-item__desc
											.slide-item__name Анна Смирнова 
											.slide-item__status родитель Максима 
											a(href="#").slide-item__link vk.com/annaaa 
									.slide-item__text 
										p Банальные, но неопровержимые выводы, а также непосредственные участники технического прогресса набирают популярность среди определенных слоев населения, а значит, должны быть ассоциативно распределены по отраслям. Имеется спорная точка зрения, гласящая примерно следующее: диаграммы.
								.reviews__slide.swiper-slide.slide-item 
									.slide-item__info 
										.slide-item__source 
											img(src="@img/footer/vk.png", alt="review vk")
										.slide-item__desc
											.slide-item__name Анна Смирнова 
											.slide-item__status родитель Максима 
											a(href="#").slide-item__link vk.com/annaaa 
									.slide-item__text 
										p Банальные, но неопровержимые выводы, а также непосредственные участники технического прогресса набирают популярность среди определенных слоев населения, а значит, должны быть ассоциативно распределены по отраслям. Имеется спорная точка зрения, гласящая примерно следующее: диаграммы.
								.reviews__slide.swiper-slide.slide-item.reviews__slide_instagram 
									.slide-item__info 
										.slide-item__source 
											img(src="@img/reviews/instagram.png", alt="review instagram")
										.slide-item__desc
											.slide-item__name Анна Смирнова 
											.slide-item__status родитель Максима 
											a(href="#").slide-item__link instagram.com/annaa 
									.slide-item__text 
										p Банальные, но неопровержимые выводы, а также непосредственные участники технического прогресса набирают популярность среди определенных слоев населения, а значит, должны быть ассоциативно распределены по отраслям. Имеется спорная точка зрения, гласящая примерно следующее: диаграммы.
						.reviews__navigation 
							.reviews__button.reviews__button_prev.swiper-button-prev
							.reviews__button.reviews__button_next.swiper-button-next
				.page__faq.faq 
					.faq__container 
						.spollers(data-spollers, data-one-spoller).faq__spollers
							.spollers__item.faq__item
								button(type="button", data-spoller).spollers__title.faq__title Домашнее обучение в «Школе Будущего Онлайн»
								.spollers__body.faq__body
									p Домашнее образование в «Школе Будущего Онлайн» дает много свободы ученику и возможность развиваться как индивидуальность. Такой формат обучения идеально подходит для детей, которые хотят эффективно использовать свое время и с максимальной пользой для достижения поставленных целей.
									p Наша домашняя интернет школа имеет лицензию образовательного учреждения, предоставляет программу обучения, которая соответствует государственной. При этом мы используем уникальные методики, игровой формат и квизы для максимального вовлечения учеников в учебный процесс.
									p Современное образование онлайн позволяет ученику всесторонне развиваться и совмещать учебу с увлечениями, спортом и творчеством без перенапряжения с оптимальным распределением времени. Такой формат дает положительные результаты в обучении ребенка. Есть возможность развития индивидуальных особенностей, талантов и склонностей к одной или нескольким наукам, которые могут в будущем стать основой профессии.
									p Домашняя школа для ребенка – это возможность:
									ul
										li учиться в комфортном режиме;
										li совмещать учебу с личным развитием;
										li получить обратную связь от учителей и индивидуальный подход.
									p Согласно действующему законодательству семейная форма обучения доступна по желанию любому ребенку. Для этого достаточно подать заявление в обычную школу и перейти на домашний формат обучения. Чтобы при семейном формате обучения ребенок не сбился с графика, а также своевременно проходил базовые темы государственной образовательной программы прекрасным помощником станет онлайн-школа.
									p Наша российская онлайн школа поможет сделать семейное обучение эффективным за счет дополнительных учебных материалов, кураторства и помощи учителей. Чтобы узнать, подходит ли такой формат обучения, всегда можно пройти недельный бесплатный курс.
							.spollers__item.faq__item
								button(type="button", data-spoller).spollers__title.faq__title Как поступить в «Школу Будущего Онлайн»
								.spollers__body.faq__body 
									p Домашнее образование в «Школе Будущего Онлайн» дает много свободы ученику и возможность развиваться как индивидуальность. Такой формат обучения идеально подходит для детей, которые хотят эффективно использовать свое время и с максимальной пользой для достижения поставленных целей.
									p Наша домашняя интернет школа имеет лицензию образовательного учреждения, предоставляет программу обучения, которая соответствует государственной. При этом мы используем уникальные методики, игровой формат и квизы для максимального вовлечения учеников в учебный процесс.
									p Современное образование онлайн позволяет ученику всесторонне развиваться и совмещать учебу с увлечениями, спортом и творчеством без перенапряжения с оптимальным распределением времени. Такой формат дает положительные результаты в обучении ребенка. Есть возможность развития индивидуальных особенностей, талантов и склонностей к одной или нескольким наукам, которые могут в будущем стать основой профессии.
									p Домашняя школа для ребенка – это возможность:
									ul
										li учиться в комфортном режиме;
										li совмещать учебу с личным развитием;
										li получить обратную связь от учителей и индивидуальный подход.
									p Согласно действующему законодательству семейная форма обучения доступна по желанию любому ребенку. Для этого достаточно подать заявление в обычную школу и перейти на домашний формат обучения. Чтобы при семейном формате обучения ребенок не сбился с графика, а также своевременно проходил базовые темы государственной образовательной программы прекрасным помощником станет онлайн-школа.
									p Наша российская онлайн школа поможет сделать семейное обучение эффективным за счет дополнительных учебных материалов, кураторства и помощи учителей. Чтобы узнать, подходит ли такой формат обучения, всегда можно пройти недельный бесплатный курс.
							.spollers__item.faq__item
								button(type="button", data-spoller).spollers__title.faq__title Как перевести ребенка на семейное обучение
								.spollers__body.faq__body 
									p Домашнее образование в «Школе Будущего Онлайн» дает много свободы ученику и возможность развиваться как индивидуальность. Такой формат обучения идеально подходит для детей, которые хотят эффективно использовать свое время и с максимальной пользой для достижения поставленных целей.
									p Наша домашняя интернет школа имеет лицензию образовательного учреждения, предоставляет программу обучения, которая соответствует государственной. При этом мы используем уникальные методики, игровой формат и квизы для максимального вовлечения учеников в учебный процесс.
									p Современное образование онлайн позволяет ученику всесторонне развиваться и совмещать учебу с увлечениями, спортом и творчеством без перенапряжения с оптимальным распределением времени. Такой формат дает положительные результаты в обучении ребенка. Есть возможность развития индивидуальных особенностей, талантов и склонностей к одной или нескольким наукам, которые могут в будущем стать основой профессии.
									p Домашняя школа для ребенка – это возможность:
									ul
										li учиться в комфортном режиме;
										li совмещать учебу с личным развитием;
										li получить обратную связь от учителей и индивидуальный подход.
									p Согласно действующему законодательству семейная форма обучения доступна по желанию любому ребенку. Для этого достаточно подать заявление в обычную школу и перейти на домашний формат обучения. Чтобы при семейном формате обучения ребенок не сбился с графика, а также своевременно проходил базовые темы государственной образовательной программы прекрасным помощником станет онлайн-школа.
									p Наша российская онлайн школа поможет сделать семейное обучение эффективным за счет дополнительных учебных материалов, кураторства и помощи учителей. Чтобы узнать, подходит ли такой формат обучения, всегда можно пройти недельный бесплатный курс.
							.spollers__item.faq__item
								button(type="button", data-spoller).spollers__title.faq__title Что входит в цену на дистанционное школьное образование
								.spollers__body.faq__body 
									p Домашнее образование в «Школе Будущего Онлайн» дает много свободы ученику и возможность развиваться как индивидуальность. Такой формат обучения идеально подходит для детей, которые хотят эффективно использовать свое время и с максимальной пользой для достижения поставленных целей.
									p Наша домашняя интернет школа имеет лицензию образовательного учреждения, предоставляет программу обучения, которая соответствует государственной. При этом мы используем уникальные методики, игровой формат и квизы для максимального вовлечения учеников в учебный процесс.
									p Современное образование онлайн позволяет ученику всесторонне развиваться и совмещать учебу с увлечениями, спортом и творчеством без перенапряжения с оптимальным распределением времени. Такой формат дает положительные результаты в обучении ребенка. Есть возможность развития индивидуальных особенностей, талантов и склонностей к одной или нескольким наукам, которые могут в будущем стать основой профессии.
									p Домашняя школа для ребенка – это возможность:
									ul
										li учиться в комфортном режиме;
										li совмещать учебу с личным развитием;
										li получить обратную связь от учителей и индивидуальный подход.
									p Согласно действующему законодательству семейная форма обучения доступна по желанию любому ребенку. Для этого достаточно подать заявление в обычную школу и перейти на домашний формат обучения. Чтобы при семейном формате обучения ребенок не сбился с графика, а также своевременно проходил базовые темы государственной образовательной программы прекрасным помощником станет онлайн-школа.
									p Наша российская онлайн школа поможет сделать семейное обучение эффективным за счет дополнительных учебных материалов, кураторства и помощи учителей. Чтобы узнать, подходит ли такой формат обучения, всегда можно пройти недельный бесплатный курс.
							.spollers__item.faq__item
								button(type="button", data-spoller).spollers__title.faq__title Что входит в цену на дистанционное школьное образование
								.spollers__body.faq__body 
									p Домашнее образование в «Школе Будущего Онлайн» дает много свободы ученику и возможность развиваться как индивидуальность. Такой формат обучения идеально подходит для детей, которые хотят эффективно использовать свое время и с максимальной пользой для достижения поставленных целей.
									p Наша домашняя интернет школа имеет лицензию образовательного учреждения, предоставляет программу обучения, которая соответствует государственной. При этом мы используем уникальные методики, игровой формат и квизы для максимального вовлечения учеников в учебный процесс.
									p Современное образование онлайн позволяет ученику всесторонне развиваться и совмещать учебу с увлечениями, спортом и творчеством без перенапряжения с оптимальным распределением времени. Такой формат дает положительные результаты в обучении ребенка. Есть возможность развития индивидуальных особенностей, талантов и склонностей к одной или нескольким наукам, которые могут в будущем стать основой профессии.
									p Домашняя школа для ребенка – это возможность:
									ul
										li учиться в комфортном режиме;
										li совмещать учебу с личным развитием;
										li получить обратную связь от учителей и индивидуальный подход.
									p Согласно действующему законодательству семейная форма обучения доступна по желанию любому ребенку. Для этого достаточно подать заявление в обычную школу и перейти на домашний формат обучения. Чтобы при семейном формате обучения ребенок не сбился с графика, а также своевременно проходил базовые темы государственной образовательной программы прекрасным помощником станет онлайн-школа.
									p Наша российская онлайн школа поможет сделать семейное обучение эффективным за счет дополнительных учебных материалов, кураторства и помощи учителей. Чтобы узнать, подходит ли такой формат обучения, всегда можно пройти недельный бесплатный курс.
							.spollers__item.faq__item
								button(type="button", data-spoller).spollers__title.faq__title Преимущества обучения в онлайн-школе
								.spollers__body.faq__body 
									p Домашнее образование в «Школе Будущего Онлайн» дает много свободы ученику и возможность развиваться как индивидуальность. Такой формат обучения идеально подходит для детей, которые хотят эффективно использовать свое время и с максимальной пользой для достижения поставленных целей.
									p Наша домашняя интернет школа имеет лицензию образовательного учреждения, предоставляет программу обучения, которая соответствует государственной. При этом мы используем уникальные методики, игровой формат и квизы для максимального вовлечения учеников в учебный процесс.
									p Современное образование онлайн позволяет ученику всесторонне развиваться и совмещать учебу с увлечениями, спортом и творчеством без перенапряжения с оптимальным распределением времени. Такой формат дает положительные результаты в обучении ребенка. Есть возможность развития индивидуальных особенностей, талантов и склонностей к одной или нескольким наукам, которые могут в будущем стать основой профессии.
									p Домашняя школа для ребенка – это возможность:
									ul
										li учиться в комфортном режиме;
										li совмещать учебу с личным развитием;
										li получить обратную связь от учителей и индивидуальный подход.
									p Согласно действующему законодательству семейная форма обучения доступна по желанию любому ребенку. Для этого достаточно подать заявление в обычную школу и перейти на домашний формат обучения. Чтобы при семейном формате обучения ребенок не сбился с графика, а также своевременно проходил базовые темы государственной образовательной программы прекрасным помощником станет онлайн-школа.
									p Наша российская онлайн школа поможет сделать семейное обучение эффективным за счет дополнительных учебных материалов, кураторства и помощи учителей. Чтобы узнать, подходит ли такой формат обучения, всегда можно пройти недельный бесплатный курс.
							.spollers__item.faq__item
								button(type="button", data-spoller).spollers__title.faq__title Нужна ли онлайн школа на домашнем обучении?
								.spollers__body.faq__body 
									p Домашнее образование в «Школе Будущего Онлайн» дает много свободы ученику и возможность развиваться как индивидуальность. Такой формат обучения идеально подходит для детей, которые хотят эффективно использовать свое время и с максимальной пользой для достижения поставленных целей.
									p Наша домашняя интернет школа имеет лицензию образовательного учреждения, предоставляет программу обучения, которая соответствует государственной. При этом мы используем уникальные методики, игровой формат и квизы для максимального вовлечения учеников в учебный процесс.
									p Современное образование онлайн позволяет ученику всесторонне развиваться и совмещать учебу с увлечениями, спортом и творчеством без перенапряжения с оптимальным распределением времени. Такой формат дает положительные результаты в обучении ребенка. Есть возможность развития индивидуальных особенностей, талантов и склонностей к одной или нескольким наукам, которые могут в будущем стать основой профессии.
									p Домашняя школа для ребенка – это возможность:
									ul
										li учиться в комфортном режиме;
										li совмещать учебу с личным развитием;
										li получить обратную связь от учителей и индивидуальный подход.
									p Согласно действующему законодательству семейная форма обучения доступна по желанию любому ребенку. Для этого достаточно подать заявление в обычную школу и перейти на домашний формат обучения. Чтобы при семейном формате обучения ребенок не сбился с графика, а также своевременно проходил базовые темы государственной образовательной программы прекрасным помощником станет онлайн-школа.
									p Наша российская онлайн школа поможет сделать семейное обучение эффективным за счет дополнительных учебных материалов, кураторства и помощи учителей. Чтобы узнать, подходит ли такой формат обучения, всегда можно пройти недельный бесплатный курс.
							.spollers__item.faq__item
								button(type="button", data-spoller).spollers__title.faq__title Разница между семейным и заочным обучением
								.spollers__body.faq__body 
									p Домашнее образование в «Школе Будущего Онлайн» дает много свободы ученику и возможность развиваться как индивидуальность. Такой формат обучения идеально подходит для детей, которые хотят эффективно использовать свое время и с максимальной пользой для достижения поставленных целей.
									p Наша домашняя интернет школа имеет лицензию образовательного учреждения, предоставляет программу обучения, которая соответствует государственной. При этом мы используем уникальные методики, игровой формат и квизы для максимального вовлечения учеников в учебный процесс.
									p Современное образование онлайн позволяет ученику всесторонне развиваться и совмещать учебу с увлечениями, спортом и творчеством без перенапряжения с оптимальным распределением времени. Такой формат дает положительные результаты в обучении ребенка. Есть возможность развития индивидуальных особенностей, талантов и склонностей к одной или нескольким наукам, которые могут в будущем стать основой профессии.
									p Домашняя школа для ребенка – это возможность:
									ul
										li учиться в комфортном режиме;
										li совмещать учебу с личным развитием;
										li получить обратную связь от учителей и индивидуальный подход.
									p Согласно действующему законодательству семейная форма обучения доступна по желанию любому ребенку. Для этого достаточно подать заявление в обычную школу и перейти на домашний формат обучения. Чтобы при семейном формате обучения ребенок не сбился с графика, а также своевременно проходил базовые темы государственной образовательной программы прекрасным помощником станет онлайн-школа.
									p Наша российская онлайн школа поможет сделать семейное обучение эффективным за счет дополнительных учебных материалов, кураторства и помощи учителей. Чтобы узнать, подходит ли такой формат обучения, всегда можно пройти недельный бесплатный курс.
							.spollers__item.faq__item
								button(type="button", data-spoller).spollers__title.faq__title Школа отказывается переводить ребёнка на семейное образование?
								.spollers__body.faq__body 
									p Домашнее образование в «Школе Будущего Онлайн» дает много свободы ученику и возможность развиваться как индивидуальность. Такой формат обучения идеально подходит для детей, которые хотят эффективно использовать свое время и с максимальной пользой для достижения поставленных целей.
									p Наша домашняя интернет школа имеет лицензию образовательного учреждения, предоставляет программу обучения, которая соответствует государственной. При этом мы используем уникальные методики, игровой формат и квизы для максимального вовлечения учеников в учебный процесс.
									p Современное образование онлайн позволяет ученику всесторонне развиваться и совмещать учебу с увлечениями, спортом и творчеством без перенапряжения с оптимальным распределением времени. Такой формат дает положительные результаты в обучении ребенка. Есть возможность развития индивидуальных особенностей, талантов и склонностей к одной или нескольким наукам, которые могут в будущем стать основой профессии.
									p Домашняя школа для ребенка – это возможность:
									ul
										li учиться в комфортном режиме;
										li совмещать учебу с личным развитием;
										li получить обратную связь от учителей и индивидуальный подход.
									p Согласно действующему законодательству семейная форма обучения доступна по желанию любому ребенку. Для этого достаточно подать заявление в обычную школу и перейти на домашний формат обучения. Чтобы при семейном формате обучения ребенок не сбился с графика, а также своевременно проходил базовые темы государственной образовательной программы прекрасным помощником станет онлайн-школа.
									p Наша российская онлайн школа поможет сделать семейное обучение эффективным за счет дополнительных учебных материалов, кураторства и помощи учителей. Чтобы узнать, подходит ли такой формат обучения, всегда можно пройти недельный бесплатный курс.
							.spollers__item.faq__item
								button(type="button", data-spoller).spollers__title.faq__title Почему нужно поступить в онлайн школу?
								.spollers__body.faq__body 
									p Домашнее образование в «Школе Будущего Онлайн» дает много свободы ученику и возможность развиваться как индивидуальность. Такой формат обучения идеально подходит для детей, которые хотят эффективно использовать свое время и с максимальной пользой для достижения поставленных целей.
									p Наша домашняя интернет школа имеет лицензию образовательного учреждения, предоставляет программу обучения, которая соответствует государственной. При этом мы используем уникальные методики, игровой формат и квизы для максимального вовлечения учеников в учебный процесс.
									p Современное образование онлайн позволяет ученику всесторонне развиваться и совмещать учебу с увлечениями, спортом и творчеством без перенапряжения с оптимальным распределением времени. Такой формат дает положительные результаты в обучении ребенка. Есть возможность развития индивидуальных особенностей, талантов и склонностей к одной или нескольким наукам, которые могут в будущем стать основой профессии.
									p Домашняя школа для ребенка – это возможность:
									ul
										li учиться в комфортном режиме;
										li совмещать учебу с личным развитием;
										li получить обратную связь от учителей и индивидуальный подход.
									p Согласно действующему законодательству семейная форма обучения доступна по желанию любому ребенку. Для этого достаточно подать заявление в обычную школу и перейти на домашний формат обучения. Чтобы при семейном формате обучения ребенок не сбился с графика, а также своевременно проходил базовые темы государственной образовательной программы прекрасным помощником станет онлайн-школа.
									p Наша российская онлайн школа поможет сделать семейное обучение эффективным за счет дополнительных учебных материалов, кураторства и помощи учителей. Чтобы узнать, подходит ли такой формат обучения, всегда можно пройти недельный бесплатный курс.
				section.page__action-free.action-free 
					.action-free__container 
						.action-free__form-block(data-da=".action-free__content,991.98,1") 
							form(action="#").action-free__form.form
								.form__input.form__input_class
									input(autocomplete="off", type="text", name="form[]", data-error="Ошибка", placeholder="Класс").input 
								.form__input.form__input_name
									input(autocomplete="off", type="text", name="form[]", data-error="Ошибка", placeholder="Имя родителя").input
								.form__input.form__input_phone
									input(autocomplete="off", type="tel", name="form[]", data-error="Ошибка", placeholder="Телефон родителя").input
								input(autocomplete="off", type="submit", name="form[]", data-error="Ошибка", value="Оставить заявку").submit
								.form__text Нажимая кнопку, вы даете согласие на обработку своих персональных данных
						.action-free__content 
							.action-free__body
								.action-free__title.title Все еще 
									span сомневаетесь?
								.action-free__text Всегда страшно переходить на что-то новое и неизведанное, потому мы предоставляем нашим клиентам возможность попробовать обучаться первую неделю абсолютно бесплатно.
							.action-free__image 
								img(src="@img/action-free/01.png", alt="action-free 1")
			include html/_footer 
		//- include html/_popup 