//====================================================================================================
.page {
    &__main {
        @include adaptiveValue("margin-bottom", 60, 40);
    }
    &__whom,
    &__how,
    &__why,
    &__compare,
    &__cost,
    &__document,
    &__reviews,
    &__faq {
        @include adaptiveValue("margin-bottom", 80, 50);
    }
    &__what {
        @include adaptiveValue("margin-bottom", 80, 60);
    }
}
//====================================================================================================
.main {
    background: #EEF1FD;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 100vw;
        height: 100%;
        background: url('@img/main/main-parallax.png') center / contain repeat-y;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        position: relative;
        @media(max-width: $tablet) {
            flex-direction: column-reverse;
            @include adaptiveValue("gap",40, 20, 767.98, 320, 1);
        }
    }
    &__content {
        position: relative;
        z-index: 4;
        padding-top: rem(5);
        @include adaptiveValue("padding-bottom", 50, 20);
        @media(max-width: $tablet) {
            text-align: center;
        }
    }
    &__title {
        font-family: "ALSSchlangesans";
        @include adaptiveValue("font-size", 84, 34);
        line-height: 100%;
        white-space: nowrap;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 20);
        }
        span {
            display: block;
            color: $color2;
        }
    }
    &__body {
        max-width: rem(500);
        width: 100%;
        @include adaptiveValue("font-size", 17, 15);
        line-height: 156%;
        p {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 30, 20);
            }
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 35, 25);
        }
        @media(max-width: $tablet) {
            margin: 0 auto;
        }
    }
    &__important {
        font-weight: 700;
    }
    &__button {
        @include adaptiveValue("max-width", 273, 230);
        font-size: rem(11);
        &:not(:last-child) {margin-bottom: rem(15);}
        @media(max-width: $tablet) {
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__social {
        display: flex;
        align-items: center;
        gap: rem(15);
        @media(max-width: $tablet) {
            justify-content: center;
        }
    }
    &__image {
        position: relative;
        @include adaptiveValue("height", 400, 180, 767.98, 320, 1);
        width: 100%;
        @media(min-width: $tablet) {
            position: absolute;
            z-index: 2;
            width: 50%;
            @include adaptiveValue("height", 400, 286, $maxWidthContainer, 767.98, 1);
            right: rem(40);
            top: 50%;
            transform: translateY(-50%);
        }
    }
}
.social {
    &__text {
        color: #737373;
        @include adaptiveValue("font-size", 17, 14);
    }
    &__list {
        display: flex;
        align-items: center;
        gap: rem(15);
        justify-content: space-between;
    }
    &__item {
        width: rem(40);
        flex: 1 0 rem(40);
        height: rem(40);
    }
    &__link {
        display: inline-block;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease 0s;
        transform: scale(1);
        @media(any-hover) {
            &:hover {
                transform: scale(1.3);
            }
        }
        &_telegram {
            background: url('@img/footer/telegram.png') center / cover no-repeat;
        }
        &_whatsapp {
            background: url('@img/common/whatsapp.png') center / cover no-repeat;
        }
    }
}
.image-main {
    &__item {
        position: absolute;
        &_background {
            top: 0;
            left: 0;
            width: 100%;
            animation: none !important;
        }
        &_table {
            top: 60%;
            left: 0;
            bottom: 0;
            width: 100%;
            animation: none !important;
        }
        &_computer {
            top: 45%;
            left: 27.7%;
            bottom: 0;
            width: 53%;
            z-index: 3;
        }
        &_tv {
            top: 10%;
            left: 47%;
            width: 28.8%;
        }
        &_paper {
            top: 19%;
            left: 31.3%;
            width: 9%;
        }
        &_mobile1 {
            top: 23.5%;
            left: 14.4%;
            width: 11.2%;
        }
        &_mobile2 {
            top: 23.5%;
            left: 84.1%;
            width: 11.7%;
        }
        img {
            width: 100%;
            height: 100%;
        }
        @media(any-hover) {
            &:hover {
                animation: 2.2s ease-in-out 0s normal none infinite running trambling-animation;
            }
        }
    }
}
@keyframes trambling-animation {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    10%, 30% {
        transform: rotate(-5deg);
    }
    20%, 40% {
        transform: rotate(5deg);
    }
}
//====================================================================================================
.whom {
    &__title {
        text-align: center;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 30);
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
        &:not(:last-child) {margin-bottom: rem(85);}
        @media(max-width: $tablet) {
            flex-wrap: wrap;
            justify-content: center;
            row-gap: rem(40);
        }
        @media(max-width: $mobile) {
            flex-direction: column;
            gap: rem(30);
            &:not(:last-child) {margin-bottom: rem(50);}
        }
    }
    &__item {
        flex: 0 0 20%;
        display: flex;
        gap: rem(30);
        @media(max-width: $tablet) {
            flex: 0 0 calc(100% / 3);
        }
        @media(min-width: $mobile) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__image {
        width: rem(70);
        height: rem(70);
        flex: 0 0 rem(70);
    }
    &__text {
        text-align: center;
        line-height: 150%;
        @media(min-width: $mobile) {
            padding: 0 rem(40);
        }
        @media(max-width: $mobile) {
            text-align: left;
            font-size: rem(16);
        }
    }
    &__price {
        display: grid;
        grid-template-columns: rem(210) auto rem(270);
        background: #EFF2FD;
        border-radius: rem(25);
        padding: rem(19);
        @include adaptiveValue("gap", 33, 17);
        @media(max-width: $mobile) {
            grid-template-columns: rem(94) auto
        }
        @media(max-width: $mobileSmall) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}
.action {
    &__title {
        @include adaptiveValue("font-size", 26, 20);
        line-height: 100%;
        font-family: "ALSSchlangesans";
        &:not(:last-child) {margin-bottom: rem(15);}
    }
    &__text {
        line-height: 150%;
    }
}
.price-whom {
    &__image {
        position: relative;
        width: rem(210);
        img {
            @media(min-width: $mobile) {
                position: absolute;
                bottom: 0; 
                left: 50%;
                transform: translateX(-50%);
            }
            @media(min-width: $mobile) and (max-width: $tablet) {
                width: 100%;
            }
        }
        @media(min-width: $mobile) and (max-width: $tablet) {
            grid-row-start: 1;
            grid-row-end: 3;
        }
        @media(min-width: $mobileSmall) and (max-width: $mobile) {
            grid-row-start: 1;
            grid-row-end: 2;
            width: 100%;
        }
        @media(max-width: $mobileSmall) {
            width: auto;
        }
    }
    &__action {
        align-self: center;
        @media(max-width: $tablet) {
            grid-column-start: 2;
            grid-column-end: 4;
        }
        @media(max-width: $mobileSmall) {
            order: -1;
            text-align: center;
        }
    }
    &__order {
        flex: 0 0 rem(270);
        align-self: center;
        @media(min-width: $mobile) and (max-width: $tablet) {
            grid-column-start: 2;
            grid-column-end: 4;
        }
        @media(min-width: $mobileSmall) and (max-width: $mobile) {
            grid-column-start: 1;
            grid-column-end: 4;
        }
        @media(max-width: $mobileSmall) {
            flex: 0 0 auto;
        }
    }
    &__button {
        width: 100%;
        @media(min-width: $mobile) and (max-width: $tablet) {
            margin-left: 0;
        }
    }
    &__social {
        justify-content: center;
        @media(min-width: $mobile) and (max-width: $tablet) {
            justify-content: left;
        }
    }//====================================================================================================
}
//====================================================================================================
.how {
    &__title {
        text-align: center;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 55, 30);
        }
    }
    &__body {
        position: relative;
        display: flex;
        @media(min-width: $tablet) {
            &::before,
            &::after {
                content: "";
                position: absolute;
                z-index: 1;
                top: 25%;
                width: 50%;
                height: 50%;
                border-left: 1px solid #C7C6DECC;
            }
            &::before {
                left: 25%;
                transform: skewX(45deg);
                border-right: 1px solid #C7C6DECC;
            }
            &::after {
                left: 50%;
                transform: skew(-45deg);
            }
        }
        @media(max-width: $tablet) {
            flex-wrap: wrap;
            row-gap: rem(40);
        }
        @media(max-width: $mobile) {
            flex-direction: column;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        &_even {
            .how__image {
                @media(min-width: $tablet) {
                    order: 2;
                }
            }
        }
        @media(max-width: $tablet) {
            flex: 0 1 50%;
            &_even {
                order: 2;
            }
        }
    }
    &__image {
        margin: rem(10);
        align-self: center;
        img {
            height: 100%;
            position: relative;
            z-index: 2;
        }
        @media(min-width: $tablet) {
            flex: 0 0 50%;
            min-height: rem(200);
        }
    }
    &__content {
        margin: rem(10);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        @media(min-width: $tablet) {
            flex: 0 0 50%;
            min-height: rem(200);
        }
    }
    &__label {
        font-weight: 500;
        @include adaptiveValue("font-size", 20, 17);
        line-height: 103%;
        &:not(:last-child) {margin-bottom: rem(10);}
    }
    &__text {
        line-height: 150%;
    }
}
//====================================================================================================
.why {
    background: #EFF2FD;
    @include adaptiveValue("padding-top", 60, 30);
    @include adaptiveValue("padding-bottom", 54, 22);
    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 30);
        }
    }
    // &__body {
    //     display: flex;
    //     gap: rem(30);
    //     @media(max-width: $tablet) {
    //         flex-direction: column;
    //     }
    // }
    &__content {
        flex: 0 1 rem(517);
    }
    &__button {
        position: relative;
        &::after {
            content: "";
            position: absolute;
            top: rem(-15);
            right: rem(-97);
            width: rem(69);
            height: rem(69);
            background: url('@img/why/arrow.png') center no-repeat;
        }
    }
}
.tabs-why {
    &__navigation {
        position: relative;
        &:not(:last-child) {margin-bottom: rem(15);}
    }
    &__title {
        flex: 0 0 50%;
        padding: rem(13) rem(20);
        padding-left: rem(68);
        position: relative;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 6.5px;
            transform: translateY(-50%);
            width: rem(45);
            height: rem(35);
            background: url('@img/why/item.png') center no-repeat;
        }
        .tabs-title:nth-child(2)>&::before {
            transform: translateY(-50%) rotate(-90deg)
        }
        .tabs-title:nth-child(3)>&::before {
            transform: translateY(-50%) rotate(-230deg)
        }
        &._spoller-active {
            box-shadow: 5px 15px 40px rgba(30, 35, 66, 0.15);
            border-radius: 25px;
            background: $color1;
            .tabs-title__label {
                background: linear-gradient(272.77deg, #864FF1 0%, #49B3F7 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
        }
    }
    &__content {
        min-height: 100%;
        flex: 1 0 auto;
    }
    &__body {
        @media(max-width: $tablet) {
            &.tabs-body {
                @include adaptiveValue("width", 470, 280, 991.98, 320, 1);
                max-width: 100%;
                margin: 0 auto;
            }
        }
    }
}
.tabs-title {
    &__label {
        font-weight: 500;
        @include adaptiveValue("font-size", 20, 16);
        line-height: 100%;
        &:not(:last-child) {margin-bottom: rem(10);}
        transition: all 0.3s ease 0s;
    }
    &__text {
        @include adaptiveValue("font-size", 15, 14);
        line-height: 130%;
    }
    @media(min-width: $tablet) {
        display: flex;
        gap: rem(30);
        align-items: flex-start;
    }
}
.tabs-why {
    &__content {
        @media(max-width: $pc) {
            align-self: flex-end;
        }
    }
    &__body {
        width: 100%;
    }
}
.tabs-body {
    &__images {
        position: relative;
        width: 100%;
        @include adaptiveValue("height", 380, 208, $maxWidthContainer, 767.98, 1);
        @media(min-width: $tablet) {
            position: absolute;
            top: 0;
            right: 0;
            width: calc(50% - 15px);
        }
    }
    &__image {
        position: absolute;
        &_background {
            width: 97%;
            top: 0;
            left: 0;
            height: 100%;
            animation: none !important;
        }
        &_tablet {
            width: 58.7%;
            top: 16.8%;
            left: 18.2%;
            height: 58.4%;
        }
        &_calculator {
            width: 20.6%;
            height: 39.5%;
            top: 26%;
            right: 0;
        }
        &_calendar {
            width: 22.8%;
            height: 26.3%;
            left: 55.8%;
            top: 50.8%;
        }
        &_note {
            width: 21.6%;
            height: 36%;
            left: 0;
            top: 57.6%;
        }
        &_pencil {
            width: 21.7%;
            height: 7.9%;
            left: 30.3%;
            top: 88.7%;
        }
        &_ruler {
            width: 49.4%;
            height: 13.4%;
            left: 39.4%;
            top: 77.4%;
        }
        &_background2 {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            animation: none !important;
        }
        &_atom {
            width: 12%;
            height: 12.3%;
            top: 45.5%;
            left: 24.3%;
        }
        &_flask {
            width: 7.6%;
            height: 12.1%;
            left: 52.8%;
            bottom: 5%;
        }
        &_kid1 {
            width: 22.1%;
            height: 47.1%;
            top: 15.5%;
            left: 8.3%;
        }
        &_kid2 {
            width: 26%;
            height: 37.9%;
            top: 6.6%;
            left: 31.2%;
        }
        &_kid3 {
            width: 33.5%;
            height: 50%;
            top: 2%;
            right: 7%;
        }
        &_kid4 {
            width: 25.8%;
            height: 27.9%;
            bottom: 6.8%;
            left: 8.1%;
        }
        &_kid5 {
            width: 27.1%;
            height: 40.8%;
            bottom: 13.1%;
            left: 36.9%;
        }
        &_kid6 {
            width: 38.9%;
            height: 40%;
            bottom: 13.4%;
            right: 0;
        }
        &_lamp {
            width: 7.1%;
            height: 15%;
            bottom: 22.6%;
            left: 0;
        }
        &_background3 {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            animation: none !important;
        }
        &_kid8-1 {
            width: 28%;
            height: 32.6%;
            top: 33.7%;
            left: 39.4%;
        }
        &_kid7-1 {
            width: 29.5%;
            height: 30.8%;
            left: 27.8%;
            bottom: 9.5%;
        }
        &_kid1-1 {
            width: 36.9%;
            height: 42.6%;
            left: 5.5%;
            bottom: 12.6%;
        }
        &_kid2-1 {
            width: 25.3%;
            height: 38.7%;
            top: 5.5%;
            left: 10.1%;
        }
        &_kid3-1 {
            width: 29.2%;
            height: 40.5%;
            top: -3.4%;
            left: 39.4%;
        }
        &_kid4-1 {
            width: 26.5%;
            height: 31%;
            top: 6%;
            right: 8.4%;
        }
        &_kid5-1 {
            width: 26.4%;
            height: 38.1%;
            top: 31.3%;
            right: 0;
        }
        &_kid6-1 {
            width: 35.2%;
            height: 27.9%;
            bottom: 9.5%;
            right: 4.9%;
        }
        img {
            height: 100%;
        }
        @media(any-hover) {
            &:hover {
                animation: 2.2s ease-in-out 0s normal none infinite running trambling-animation;
            }
        }
    }
    @media(min-width: $tablet) {
        position: absolute;
        top: 0;
        right: 0;
    }
}
//====================================================================================================
.compare {
    &__title {
        text-align: center;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 30);
        }
    }
    &__body {
        display: flex;
        justify-content: space-between;
        @include adaptiveValue("margin-left", -130, 0, $maxWidthContainer + 260, 991.98, 1);
        @include adaptiveValue("margin-right", -130, 0, $maxWidthContainer + 260, 991.98, 1);
        @media(max-width: $tablet) {
            justify-content: center;
        }
        @media(max-width: $mobile) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__image {
        @media(max-width: $tablet) {
            display: none;
        }
        &_right {
            align-self: flex-end;
        }
    }
    &__text {
        border-radius: rem(15);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        line-height: 103%;
        max-width: 100%;
        &_left {
            @include adaptiveValue("width", 360, 312, $maxWidthContainer, 767.98, 1);
            filter: drop-shadow(3.90651px 11.7195px 31.2521px rgba(30, 35, 66, 0.15));
            background: linear-gradient(180deg, #EFF2FD 0%, #FCFCFC 100%);
            margin: rem(10);
            padding: rem(40) rem(35);
        }
        &_right {
            @include adaptiveValue("margin-left", -44, -36, $maxWidthContainer, 767.98, 1);
            @include adaptiveValue("width", 376, 334, $maxWidthContainer, 767.98, 1);
            background: linear-gradient(26.5deg, #4271DF 16.72%, #789CF1 95.45%);
            padding: rem(40) rem(26);
            color: $color1;
            position: relative;
            z-index: 2;
            @media(max-width: $mobile) {
                margin-left: 0;
                margin-top: rem(-20);
            }
        }
    }
}
.text-compare {
    &__title {
        @include adaptiveValue("font-size", 32, 24);
        font-family: "ALSSchlangesans";
        line-height: 103%;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 29, 15);
        }
    }
    &__item {
        list-style: disc;
        @include adaptiveValue("font-size", 15, 14);
        &:not(:last-child) {margin-bottom: rem(15);}
        line-height: 150%;
        span {
            font-weight: 700;
            display: block;
        }
    }
}
//====================================================================================================
.what {
    &__title {
        max-width: rem(660);
        width: 100%;
        text-align: center;
        margin: 0 auto;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 30);
        }
    }
    &__body {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include adaptiveValue("row-gap", 110, 30);
        &:not(:last-child) {margin-bottom: rem(75);}
    }
    &__item {
        flex: 0 1 calc(100% / 3);
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        text-align: center;
        padding: 0 rem(35);
        @media(max-width: $tablet) {
            flex: 0 1 50%;
        }
        @media(max-width: $mobile) {
            flex: 0 1 100%;
        }
    }
    &__image {
        @include adaptiveValue("height", 167, 100);
        @include adaptiveValue("width", 167, 100);
        &:not(:last-child) {margin-bottom: rem(20);}
    }
    &__label {
        font-weight: 500;
        font-size: rem(20);
        line-height: 125%;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 14, 10);
        }
    }
    &__text {
        font-size: rem(15);
        line-height: 157%;
    }
}
//====================================================================================================
.cost {
    background: #EFF2FD;
    @include adaptiveValue("padding-top", 60, 30);
    @include adaptiveValue("padding-bottom", 100, 40);
    &__title {
        text-align: center;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 55, 30);
        }
    }
    &__body {
        display: flex;
        justify-content: space-between;
        @media(max-width: $pc) {
            flex-wrap: wrap;
            row-gap: rem(40);
        }
        @media(max-width: $mobile) {
            max-width: 100%;
            justify-content: center;
        }
    }
    &__item {
        position: relative;
        &_action {
            .item-price {
                justify-content: flex-end;
            }
            .item-price__action {
                @media(min-width: $pc) {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        @media(max-width: $pc) {
            &:last-child:not(:nth-child(even)) {
                margin: 0 auto;
            }
        }
    }
}
.cost-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 rem(300);
    &__price {
        margin-bottom: rem(-35);
        position: relative;
        z-index: 2;
    }
    &__content {
        @include adaptiveValue("padding-top", 50, 40);
        @include adaptiveValue("padding-left", 35, 20);
        @include adaptiveValue("padding-right", 35, 20);
        @include adaptiveValue("padding-bottom", 29, 26);
        margin-right: rem(50);
    }
    &__image {
        position: absolute;
        bottom: 0;
        right: rem(20);
        z-index: 3;
        @media(max-width: $mobile) {
            width: 28%;
            right: 0;
        }
    }
    @media(max-width: $mobile) {
        max-width: 100%;
    }
}
.item-price {
    display: flex;
    justify-content: center;
    align-items: center;
    &__main {
        width: rem(250);
        flex: 0 0 rem(250);
        height: rem(100);
        border-radius: rem(25);
        margin-left: rem(30);
        margin-right: rem(-30);
        span {
            font-size: rem(26);
            font-weight: 500;
            line-height: 141%;
            white-space: nowrap;
        }
        &::after {
            content: "/мес";
            font-family: "gothampro";
            align-self: flex-end;
            font-size: rem(14);
            color: #E9E8FA;
        }
        @media(max-width: $tablet) {
            width: rem(220);
            flex: 0 0 rem(220);
            min-height: rem(80);
        }
        @media(max-width: $mobileSmall) {
            width: rem(210);
            flex: 0 0 rem(210);
            min-height: rem(77);
        }
    }
    &__action {
        opacity: 0;
        visibility: hidden;
        @include adaptiveValue("width", 130, 100);
        @include adaptiveValue("height", 130, 100);
        background: url('@img/cost/action.png') center no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(30deg);
        text-align: center;
        flex-direction: column;
        padding: rem(10);
        span {
            text-transform: uppercase;
            color: #F0F0F0;
            font-family: "ALSSchlangesans";
            line-height: 141%;
            &:first-child {
                color: #C6C6C6
            }
        }
    }
}
.item-content {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px 25px 0px 50px;
    width: rem(295);
    flex: 1 0 auto;
    &__label {
        font-weight: 500;
        font-size: rem(20);
        line-height: 103%;
        &:not(:last-child) {margin-bottom: rem(10);}
    }
    &__description {
        font-size: rem(16);
        line-height: 103%;
        &:not(:last-child) {margin-bottom: rem(20);}
        background: linear-gradient(26.5deg, #4271DF 16.72%, #789CF1 95.45%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }
    &__list {
        @include adaptiveValue("padding-right", 10, 30);
        &:not(:last-child) {margin-bottom: rem(20);}
    }
    &__item {
        display: flex;
        gap: rem(8);
        align-items: center;
        &:not(:last-child) {margin-bottom: rem(20);}
        &::before {
            content: "";
            width: rem(24);
            height: rem(24);
            background: url('@img/cost/check.png') center no-repeat;
        }
    }
    &__button {
        background: linear-gradient(26.5deg, #4271DF 16.72%, #789CF1 95.45%);
        box-shadow: 0px 4px 20px #648CEB;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: rem(160);
        min-height: rem(32);
        transform: scale(1);
        transition: all 0.3s ease 0s;
        @media(any-hover) {
            &:hover {
                transform: scale(1.1);
            }
        }
        span {
            background: linear-gradient(180deg, #FFFFFF 0%, #EBF8F8 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            font-size: rem(12);
            line-height: 100%;
        }
    }
}
//====================================================================================================
.document {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        @media(max-width: $mobile) {
            flex-direction: column;
            row-gap: rem(30);
        }
    }
    &__content,
    &__image {
        flex: 0 0 50%;
        @media(max-width: $mobile) {
            flex: 1 1 auto;
        }
    }
    &__content {
        @media(max-width: $mobile) {
            text-align: center;
        }
    }
    &__title {
        &:not(:last-child) {margin-bottom: rem(30);}
    }
    &__text {
        line-height: 103%;
        @include adaptiveValue("font-size", 20, 16);
        max-width: rem(500);
        @media(max-width: $mobile) {
            margin: 0 auto;
        }
    }
}
//====================================================================================================
.reviews {
    &__title {
        text-align: center;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 30);
        }
    }
    &__slider {
        display: flex;
        align-items: center;
        background: url('@img/reviews/background.png') right center / contain no-repeat;
        @include adaptiveValue("min-height", 550, 256);
        @media(min-width: $mobile) {
            overflow: inherit !important;
        }
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 60, 30);
        }
    }
    &__slide {
        @include adaptiveValue("padding-top", 38, 20);
        @include adaptiveValue("padding-bottom", 38, 20);
        @include adaptiveValue("padding-left", 30, 20);
        @include adaptiveValue("padding-right", 30, 20);
        &_instagram {
            position: relative;
            border: none !important;
            &::before {
                content: "";
                position: absolute;
                z-index: -1;
                top: -5px;
                left: -5px;
                width: calc(100% + 10px);
                height: calc(100% + 10px);
                border-radius: 20px;
                background: linear-gradient(30deg, #FFD521 0%,#FFD020 7%, #FEC01E 15%, #FCA71B 22%, #FA8316 29%, #F85510 36%, #F51E09 44%, #F30005 51%, #F20007 58%, #E1003B 65%, #D30067 72%, #C70088 79%, #BF00A0 86%, #BB00AF 93%, #B900B4 100%); 
            }
        }
    }
    &__navigation {
        display: flex;
        justify-content: center;
        gap: rem(30);

    }
    &__button {
        @include adaptiveValue("width", 69, 50);
        @include adaptiveValue("height", 69, 50);
        cursor: pointer;
        background: url('@img/reviews/arrow.png') center no-repeat;
        border-radius: 50%;
        border: 1px solid #789CF1;
        &_next {
            transform: rotate(180deg);
        }
    }
}
.slide-item {
    background: #FFFFFF;
    border: 5px solid #4C75A3;
    box-shadow: 14px 22px 40px rgba(30, 35, 66, 0.28);
    border-radius: 20px;
    max-width: rem(617);
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: rem(10);
    &__info {
        flex: 0 0 35%;
        @media(max-width: $mobileMedium) {
            flex: 0 0 auto;
            display: flex;
            column-gap: rem(20);
        }
    }
    &__source {
        @include adaptiveValue("width", 40, 30);
        @include adaptiveValue("height", 40, 30);
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 29, 18, $maxWidthContainer, 767.98, 1);
        }
    }
    &__desc {

    }
    &__name {
        font-family: "ALSSchlangesans";
        @include adaptiveValue("font-size", 26, 20);
        line-height: 100%;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 10, 5);
        }
    }
    &__status {
        @include adaptiveValue("font-size", 18, 14);
        line-height: 100%;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 18, 5);
        }
        
    }
    &__link {
        @include adaptiveValue("font-size", 16, 14);
        line-height: 130%;
        font-weight: 500;
        background: linear-gradient(26.5deg, #4271DF 16.72%, #789CF1 95.45%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        @media(any-hover) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__text {
        @include adaptiveValue("font-size", 16, 12);
        line-height: 150%;
    }
    @media(max-width: $mobileMedium) {
        flex-direction: column;
        row-gap: rem(20)
    }
}
//====================================================================================================
.page {
    &__action-free {
    }
}
.action-free {
    &__container {
    }
    &__form-block {
    }
    &__form {
    }
    &__content {
    }
    &__title {
    }
    &__text {
    }
    &__image {
    }
}
.form {
    &__text {
    }
}
.input {
}
.submit {
}
.title {
}

//====================================================================================================